@mixin text-styling($size, $weight: 400, $color: black) {
  font: {
    size: $size;
    weight: $weight;
  }

  color: $color;
}

@mixin svg($size: 16px, $color: black) {
  width: $size;
  height: $size;
  fill: $color;
  transition-property: fill, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  flex-shrink: 0;
  @content;
}
