@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

// COLORS:

$white: #ffffff;
$black: #000000;
$red: #ea5353;
$cyan: #45d3d3;
$orange: #fcaf4a;
$blue: #549ef2;
$darkBlue: #4c4e61;
$grayishBlue: #a3a5ae;
$lightGray: #fafafa;

// Size:

$baseSize: 35px;

// FONTS:

$baseFont: 'Poppins', sans-serif;